    /* Logo navbar */
    
    .shoplogo {
        height: 4%;
        width: 4%;
    }
    /* NavBar gradient */
    
    .bg-gradient {
        background-image: var(--bs-gradient);
    }
    /* Swiper */
    
    html,
    body {
        position: relative;
        height: 100%;
        font-family: 'Comfortaa', cursive !important;
    }
    
    body {
        background: #eee;
        font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
        font-size: 14px;
        color: #000;
        margin: 0;
        padding: 0;
    }
    
    .swiper {
        width: 100%;
        height: 55%;
    }
    
    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }
    
    .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    /* Swiper ends */
    /* Link cards */
    
    a.catlink {
        text-decoration: none;
        color: green;
    }
    /* Mediaquery for the pictures (sm devices) */
    
    @media screen and (max-width: 576px) {
        .disappsm {
            display: none !important;
        }
        .shoplogo {
            height: 10%;
            width: 10%;
        }
    }